<div class="modal modal-cart cart">
    <div class="modal-content">
        <h1>Shopping Cart</h1>

        {{#if items.length}}
            <h2 class="valign-wrapper">
                <span>Order details</span>
                <a href="#" class="btn-empty"><i class="material-icons right">remove_shopping_cart</i></a>
            </h2>
            <table class="striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                {{#each items}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td class="valign-wrapper">
                        {{this.total}}
                        <a href="#" class="primary btn-remove-item" data-isbn="{{this.isbn}}" title="Remove one item"><i class="tiny material-icons">remove_circle_outline</i></a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>

            <h2 class="total-title">Total</h2>
            <table class="bordered">
                <tbody>
            {{#if discount.type}}
                <tr>
                    <td>Total before reduction</td>
                    <td>{{subTotal}}</td>
                </tr>
                <tr>
                    <td>Reduction (type: {{discount.type}})</td>
                    <td>{{discount.amount}}</td>
                </tr>
            {{/if}}
            <tr>
                <td>Total amount to be paid</td>
                <td>{{totalOrder}}</td>
            </tr>
                </tbody>
        </table>
        {{else}}
            <h2>Your cart is empty!</h2>
        {{/if}}

        <div class="modal-footer">
            {{#if items.length}}
                <a class="modal-action modal-close waves-effect waves-light btn red">
                    Cancel
                    <i class="material-icons left">cancel</i>
                </a>
                <a class="modal-action modal-close waves-effect waves-light btn green">
                    Check
                    <i class="material-icons right">credit_card</i>
                </a>
            {{else}}
                <a class="modal-action modal-close waves-effect waves-light btn green">
                    Continue
                    <i class="material-icons left">shopping_cart</i>
                </a>
            {{/if}}
        </div>
    </div>
</div>
