<article class="book-preview grey lighten-5 col s12 l6">
    <div class="card horizontal small">
        <div class="card-image waves-effect waves-block waves-light">
            <img src="{{cover}}" alt="Cover for {{title}}" class="activator responsive-img"/>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">
                    {{title}}
                </span>
                {{#if excerpt}}
                    <div class="overflow-scroll-gradient hide-on-small-and-down">
                        <div class="overflow-scroll-gradient-scroller no-scroll">
                            <p>
                                {{excerpt}}
                            </p>
                        </div>
                    </div>
                    <a title="See more details" class="btn-more activator">
                        Read more
                        <i class="more-icon material-icons right">more_horiz</i>
                    </a>
                {{/if}}
            </div>
            <div class="card-action valign-wrapper hide-on-small-and-down">
                <span class="price">{{price}}</span>
                <div class="cart-info valign-wrapper">
                    <span class="badge amber accent-4 nb-in-cart">0</span>
                    <div class="cart-loader preloader-wrapper small">
                        <div class="spinner-layer">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                    <a href="#" title="Add to cart" class="cta-add-cart hide">
                        <i class="material-icons">add_shopping_cart</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-action valign-wrapper hide-on-med-and-up">
            <span class="price">{{price}}</span>
            <div class="cart-info valign-wrapper">
                <span class="badge amber accent-4 nb-in-cart">0</span>
                <div class="cart-loader preloader-wrapper small">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
                <a href="#" title="Add to cart" class="cta-add-cart hide">
                    <i class="material-icons">add_shopping_cart</i>
                </a>
            </div>
        </div>
        {{#if synopsis}}
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">close</i>
                {{title}}
            </span>
                {{#each synopsis}}
                    <p>{{this}}</p>
                {{/each}}
        </div>
        {{/if}}
    </div>
</article>
